@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
  text-decoration: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none !important;
}

button, input, select, textarea, label, span, div, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", sans-serif !important;
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
